body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.texto-card {
  font-weight: bold;


}

.carta-contenedor {
  align-items: center;
  justify-content: center;
  height: 30rem;
  width: 20rem;
}

.nav-intensidad:hoover{
  font-weight: bold;
}

.precio {
  font-weight: bold;
}